humanfriendly
colorama
validators
-r MHDDoS/requirements.txt

dnspython
pyasn1
ldap3
ldapdomaindump
six
chardet
idna
cryptography
future
pip
wheel
Jinja2
multidict
MarkupSafe
Werkzeug
click
itsdangerous
maxminddb
cffi
altgraph
urllib3
pycparser
setuptools
decorator
pyinstaller
pefile
